# Python byte‑compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Jupyter Notebook checkpoint’leri
.ipynb_checkpoints/

# İşletim sistemi dosyaları
.DS_Store

# VSCode ayarları
.vscode/

# Opsiyonel: Çok büyük veri veya çıktı klasörleri
# data/
# outputs/
